extends ../admin_layout

block content
  .container
    .row
      a.btn.btn-success.col-md-1.col-md-offset-11(href="/admin/bill/new") 增加快递
      table.table.table-hover.table-striped
        thead
          tr
            th 单号
            th 发件人姓名
            th 发件人地址
            th 发件人电话
            th 收件人姓名
            th 收件人地址
            th 收件人电话
            th 查看
            th 编辑
        tbody
          each bill in bills
            tr(class="bill-id-#{bill._id}")
              td: a(href="/admin/track/#{bill._id}") #{bill._id}
              td #{bill.sendname}
              td #{bill.sendprovince}/#{bill.sendcity}/#{bill.sendcounty}/#{bill.sendaddr}
              td #{bill.sendcellphone}
              td #{bill.delivername}
              td #{bill.deliverprovince}/#{bill.delivercity}/#{bill.delivercounty}/#{bill.deliveraddr}
              td #{bill.delivercellphone}
              td: a(href="/bill/detail/#{bill._id}", target="_blank") 查看
              td: a(href="/admin/bill/update/#{bill._id}") 编辑
      nav.text-center
        ul.pagination
          li
            a(href="/api/get/list?type=bill&start=0&limit=#{limit}")
              span &laquo;
          - for(var i = 0, l = Math.ceil(sum/limit); i < l; i++)
            li
              a(href="/api/get/list?type=bill&start=#{i*limit}&limit=#{limit}") #{i+1}
          li
            a(href="/api/get/list?type=bill&start=#{limit}&limit=#{limit}")
              span &raquo;
block script
  script(src="/p/js/func.js")
  script#content-list(type="text/x-handlebars-template").
    {{#each list}}
      <tr class="bill-id-{{id}}">
        <td>
          <a href="/admin/track/{{id}}">{{id}}</a>
        </td>
        <td>{{sendname}}</td>
        <td>
          {{sendprovince}}/{{sendcity}}/{{sendcounty}}/{{sendaddr}}
        </td>
        <td>{{sendcellphone}}</td>
        <td>{{delivername}}</td>
        <td>
          {{deliverprovince}}/{{delivercity}}/{{delivercounty}}/{{deliveraddr}}
        </td>
        <td>{{delivercellphone}}</td>
        <td>
          <a href="/bill/detail/{{id}}">查看</a>
        </td>
        <td>
          <a href="/admin/bill/update/{{id}}">编辑</a>
        </td>
      </tr>
    {{/each}}
  script#search-list(type="text/x-handlebars-template").
    {{#each searchList}}
      <li class="clearfix">
        <h4>{{id}} 
          <div class="pull-right">
            <a href="/admin/bill/update/{{id}}" class="btn btn-primary">编辑<a>
            <a href="/bill/detail/{{id}}" class="btn btn-default">查看</a>
          </div>        
        </h4>  
        <p>从 {{sendprovince}} - {{sendcity}} 到 {{deliverprovince}} - {{delivercity}}</p>
        <p>发件人电话：{{sendcellphone}} 收件人电话：{{delivercellphone}}</p>
      </li>
    {{/each}} 
  script(type="text/javascript").
    var $pagination = $('.pagination');
    var $page = $pagination.find('a');
    if($pagination.find('li').length === 2) {
      $pagination.hide();
    }
    $page.on('click', function(e){
      e.preventDefault();
      var $t = $(this);
      var $tbody = $('table tbody');
      var href = $t.attr('href');
      
      $.get(href, function(data){
        if(data.success) {
          $tbody.empty();

          var obj = data.data.object;
          var tpl = $('#content-list').html();
          var template = Handlebars.compile(tpl); 
          var content = {
            list: []
          };

          $.each(obj, function(index, item) {
            var obj = {
              id: item._id,
              sendname: item.sendname,
              sendprovince: item.sendprovince,
              sendcity: item.sendcity,
              sendcounty: item.sendcounty,
              sendaddr: item.sendaddr,
              sendcellphone: item.sendcellphone,
              delivername: item.delivername,
              deliverprovince: item.deliverprovince,
              delivercity: item.delivercity,
              delivercounty: item.delivercounty,
              deliveraddr: item.deliveraddr,
              delivercellphone: item.delivercellphone
            };
            content.list.push(obj);
          });
          
          var html = template(content);
          
          $tbody.html(html);
        } else {
          OE.PopOut.alert(data.data.msg);
        }
      })
    });
    searchList(function(data, $ul){
      var tpl = $('#search-list').html();
      var template = Handlebars.compile(tpl);

      var content = {
        searchList: []
      };
      $.each(data, function(index, item) {
        var obj = {
          id: item._id,
          sendprovince: item.sendprovince,
          sendcity: item.sendcity,
          sendcellphone: item.sendcellphone,
          deliverprovince: item.deliverprovince,
          delivercity: item.delivercity,
          delivercellphone: item.delivercellphone
        };
        content.searchList.push(obj);
      });
      var html = template(content);
      $ul.html(html);
    });