extends ../admin_layout

block content
  p #{page}
  .container
    .row 
      a.btn.btn-success.col-md-1.col-md-offset-11(href="/admin/page/new") 增加页面
      table.table.table-hover.table-striped
        thead
          tr
            th 标题
            th 标签
            th 预览
            th 最后更新时间
            th 查看
            th 编辑
            th 删除
        tbody
          each page in pages
            tr(class="page-id-#{page._id}")
              td #{page.title}
              td #{page.tag}
              td #{page.content.substring(0, 20) + '...'}
              td #{moment(page.meta.updateAt).format('YYYY/MM/DD hh:mm:ss')}
              td: a(href="/page/#{page.tag}", target="_blank") 查看
              td: a(href="/admin/page/update/#{page.tag}") 编辑
              td: button.btn.btn-danger.page-del(data-id="#{page._id}") 删除
      nav.text-center
        ul.pagination
          li
            a(href="/api/get/list?type=page&start=0&limit=#{limit}")
              span &laquo;
          - for(var i = 0, l = Math.ceil(sum/limit); i < l; i++)
            li
              a(href="/api/get/list?type=page&start=#{i*limit}&limit=#{limit}") #{i+1}
          li
            a(href="/api/get/list?type=page&start=#{limit}&limit=#{limit}")
              span &raquo;
     
block script
  script(src="/p/js/func.js")
  script#content-list(type="text/x-handlebars-template").
    {{#each list}}
      <tr class="page-id-{{id}}">
        <td>{{title}}</td>
        <td>{{tag}}</td>
        <td>{{content}}</td>
        <td>{{time}}</td>
        <td>
          <a href="/page/{{tag}}">查看</a>
        </td>
        <td>
          <a href="/admin/page/update/{{tag}}">编辑</a>
        </td>
        <td>
          <button class="btn btn-danger page-del" data-id="{{id}}">
            删除
          </button>
        </td>
      </tr>
    {{/each}}
  script#search-list(type="text/x-handlebars-template").
    {{#each searchList}}
      <li class="clearfix">
        <h4>{{title}} 
          <div class="pull-right">
            <a href="/admin/page/update/{{tag}}" class="btn btn-primary">编辑<a>
            <a href="/page/{{tag}}" class="btn btn-default">查看</a>
          </div>        
        </h4>  
        <p>url: {{tag}}</p>
        <p>{{content}}</p>
      </li>
    {{/each}}
  script(type="text/javascript").
    var $pagination = $('.pagination');
    var $page = $pagination.find('a');
    if($pagination.find('li').length === 2) {
      $pagination.hide();
    }
    $page.on('click', function(e){
      e.preventDefault();
      var $t = $(this);
      var $tbody = $('table tbody');
      var href = $t.attr('href');
      
      $.get(href, function(data){
        if(data.success) {
          $tbody.empty();

          var obj = data.data.object;
          var tpl = $('#content-list').html();
          var template = Handlebars.compile(tpl); 
          var content = {
            list: []
          };

          $.each(obj, function(index, item) {
            var obj = {
              id: item._id,
              title: item.title,
              content: item.content,
              time: moment(item.meta.updateAt).format('YYYY/MM/DD hh:mm:ss')
            };
            content.list.push(obj);
          });
          
          var html = template(content);
          
          $tbody.html(html);
        } else {
          //OE.alert(data.data.msg);
        }
      })
    });
    searchList(function(data, $ul){
      var tpl = $('#search-list').html();
      var template = Handlebars.compile(tpl);

      var content = {
        searchList: []
      };
      $.each(data, function(index, item) {
        var obj = {
          tag: item.tag,
          title: item.title,
          content: item.content.substring(0, 30) + '...'
        };
        content.searchList.push(obj);
      });
      var html = template(content);
      $ul.html(html);
    });