extends ./layout

block css
  link(rel="stylesheet", href="/p/css/index.css")
  link(rel="stylesheet", href="/p/css/components.css")

block script
  script(src="/p/js/bill.js")
  script(src="/p/js/slider.js")
  script(src="/p/js/components.js")

block content
  section.search
    #s
      form#s-form
        input#oe-input(type="text" autocomplete="off" placeholder="输入快递号查询，用空格分隔多个快递号")
        button#oe-submit(type="submit")
        ul.oe-err-info
      span.oe-close
      .bill-list
        .bill-list-content
          h3
          ul
        .bill-list-content
          h3
          ul
        .bill-list-content
          h3
          ul
  section.features
    ul.container.clearfix
      li
        .circle.one
          span
        h3 安全
        p 无纸化快递，杜绝因快递单丢是导致的信息泄露，为您的隐私保驾护航
      li
        .circle.two
          span
        h3 高效
        p 一流的快递团队，一流的仓储管理，一流的服务为您带来前所未有的一流效率
      li
        .circle.three
          span
        h3 科技
        p 一通快递打通物流体系，先进的快递系统加上高效的仓储管理，让快递快上加快
  section.info
    .wrapper.clearfix
      .news
        header
          h3
            span 新闻公告
        ul.news-list
          each news in newslist
            li
              a(href="/news/#{news._id}") #{news.title}
      .search-shop
        header
          h3
            span 服务网点
        .shop-wrapper
          form(action="/site", method="get")
            .city-area.clearfix
              span.hot-city-label 热门城市：
              ul.city-list
                each val in ['北京','上海','天津','广州','深圳','杭州','无锡','苏州','成都','大连']
                  li
                    a(href="")= val
              span.hot-city-label &nbsp;
              ul.city-list
                each val in ['重庆','南京','青岛','郑州','长沙','嘉兴','福州','东莞','厦门','合肥']
                  li
                    a(href="")= val
            include ../../components/site
      .slider-show.bruno-slider
        ul.clearfix
          each ad in ads
            li
              img(src="#{ad.imgSrc}", alt="#{ad.title}")
              h3
                a(href="ad/#{ad._id}") #{ad.title}
        .nav-dot
      include ../../components/tools