extends ../admin_layout

block content
  .container
    .row
      a.btn.btn-success.col-md-1.col-md-offset-11(href="/admin/ad/new") 增加新闻
      table.table.table-hover.table-striped
        thead
          tr
            th 广告标题
            th 广告图预览
            th 最后更新时间
            td pv
            th 查看
            th 编辑
            th 删除
        tbody
          each ad in ads
            tr(class="ad-id-#{ad._id}")
              td #{ad.title}
              td
                if ad.imgSrc.indexOf('http') > -1
                  img(src="#{ad.imgSrc}", alt="#{ad.title}", style="max-width: 200px;")
                else 
                  img(src="/upload/#{ad.imgSrc}", alt="#{ad.title}", style="max-width: 200px;")
              td #{moment(ad.meta.updateAt).format('YYYY/MM/DD hh:mm:ss')}
              td #{ad.pv}
              td: a(href="/ad/detail/#{ad._id}", target="_blank") 查看
              td: a(href="/admin/ad/update/#{ad._id}") 编辑
              td: button.btn.btn-danger.ad-del(data-id="#{ad._id}") 删除
      nav.text-center
        ul.pagination
          li
            a(href="/api/get/list?type=ad&start=0&limit=#{limit}")
              span &laquo;
          - for(var i = 0, l = Math.ceil(sum/limit); i < l; i++)
            li
              a(href="/api/get/list?type=ad&start=#{i*limit}&limit=#{limit}") #{i+1}
          li
            a(href="/api/get/list?type=ad&start=#{limit}&limit=#{limit}")
              span &raquo;
block script
  script(src="/p/js/func.js")
  script#content-list(type="text/x-handlebars-template").
    {{#each list}}
      <tr class="ad-id-{{id}}">
        <td>
          {{title}}
        </td>
        <td>
          <img src="{{imgSrc}}" alt="{{title}}" style="max-width: 200px;">
        </td>
        <td>{{time}}</td>
        <td>{{pv}}</td>
        <td>
          <a href="/ad/detail/{{id}}">查看</a>
        </td>
        <td>
          <a href="/admin/ad/update/{{id}}">编辑</a>
        </td>
        <td>
          <button class="btn btn-danger ad-del" data-id="{{id}}">
            删除
          </button>
        </td>
      </tr>
    {{/each}}  
  script#search-list(type="text/x-handlebars-template").
    {{#each searchList}}
      <li class="clearfix">
        <h4>{{title}} 
          <div class="pull-right">
            <a href="/admin/ad/update/{{id}}" class="btn btn-primary">编辑<a>
            <a href="/ad/detail/{{id}}" class="btn btn-default">查看</a>
          </div>       
        </h4>
      </li>
    {{/each}}
  script(type="text/javascript").
    var $pagination = $('.pagination');
    var $page = $pagination.find('a');
    
    $page.on('click', function(e){
      e.preventDefault();
      var $t = $(this);
      var $tbody = $('table tbody');
      var href = $t.attr('href');
      
      $.get(href, function(data){
        if(data.success) {
          $tbody.empty();

          var obj = data.data.object;
          var tpl = $('#content-list').html();
          var template = Handlebars.compile(tpl); 
          var content = {
            list: []
          };

          $.each(obj, function(index, item) {
            var src = '';
            if(item.imgSrc.indexOf('http') === -1) {
              src = '/upload/' + item.imgSrc;
            } else {
              src = item.imgSrc;
            }
            var obj = {
              id: item._id,
              title: item.title,
              imgSrc: src,
              time: moment(item.meta.updateAt).format('YYYY/MM/DD hh:mm:ss'),
              pv: item.pv
            };
            content.list.push(obj);
          });
          
          var html = template(content);
          
          $tbody.html(html);
        } else {
          OE.PopOut.alert(data.data.msg);
        }
      })
    });
    searchList(function(data, $ul){
      var tpl = $('#search-list').html();
      var template = Handlebars.compile(tpl);

      var content = {
        searchList: []
      };
      $.each(data, function(index, item) {
        var obj = {
          id: item._id,
          title: item.title
        };
        content.searchList.push(obj);
      });
      var html = template(content);
      $ul.html(html);
    });