extends ../admin_layout

block content
  .container
    .row
      a.btn.btn-success.col-md-1.col-md-offset-11(href="/admin/news/new") 增加新闻
      table.table.table-hover.table-striped
        thead
          tr
            th 新闻标题
            th 作者
            th 新闻预览
            th 最后更新时间
            th 查看
            th 编辑
            th 删除
        tbody
          each news in newslist
            tr(class="news-id-#{news._id}")
              td #{news.title}
              td #{news.author}
              td #{news.content.substring(0, 20) + '...'}
              td #{moment(news.meta.updateAt).format('MM/DD/YYYY')}
              td: a(href="/news/detail/#{news._id}", target="_blank") 查看
              td: a(href="/admin/news/update/#{news._id}") 编辑
              td: button.btn.btn-danger.news-del(data-id="#{news._id}") 删除
      nav.text-center
        ul.pagination
          li
            a(href="/api/get/list?type=news&start=0&limit=#{limit}")
              span &laquo;
          - for(var i = 0, l = Math.ceil(sum/limit); i < l; i++)
            li
              a(href="/api/get/list?type=news&start=#{i*limit}&limit=#{limit}") #{i+1}
          li
            a(href="/api/get/list?type=news&start=#{limit}&limit=#{limit}")
              span &raquo;
block script
  script(src="/p/js/func.js")
  script#content-list(type="text/x-handlebars-template").
    {{#each list}}
      <tr class="news-id-{{id}}">
        <td>{{title}}</td>
        <td>{{author}}</td>
        <td>{{content}}</td>
        <td>{{time}}</td>
        <td>
          <a href="/news/detail/{{id}}">查看</a>
        </td>
        <td>
          <a href="/admin/news/update/{{id}}">编辑</a>
        </td>
        <td>
          <button class="btn btn-danger news-del" data-id="{{id}}">
            删除
          </button>
        </td>
      </tr>
    {{/each}}
  script#search-list(type="text/x-handlebars-template").
    {{#each searchList}}
      <li class="clearfix">
        <h4>{{title}} 
          <div class="pull-right">
            <a href="/admin/news/update/{{id}}" class="btn btn-primary">编辑<a>
            <a href="/news/detail/{{id}}" class="btn btn-default">查看</a>
          </div>        
        </h4>  
        <p>{{content}}</p>
      </li>
    {{/each}}
  script(type="text/javascript").
    var arg = ['id', 'title', 'author', 'content', 'time'];
    var $page = $('.pagination a')
    $page.on('click', function(e){
      e.preventDefault();
      var $t = $(this);
      var $tbody = $('table tbody');
      var href = $t.attr('href');
      
      $.get(href, function(data){
        if(data.success) {
          $tbody.empty();
          var obj = data.data.object;
          var tpl = $('#content-list').html();
          var template = Handlebars.compile(tpl);

          var content = {
            list: []
          };
          $.each(obj, function(index, item) {
            var obj = {
              id: item._id,
              title: item.title,
              author: item.author,
              content: item.content.substring(0, 30) + '...',
              time: moment(item.meta.updateAt).format('YYYY/MM/DD hh:mm:ss')
            };
            content.list.push(obj);
          });
          var html = template(content);
          $tbody.html(html);
        } else {
          //OE.alert(data.data.msg);
        }
      })
    });
    searchList(function(data, $ul){
      var tpl = $('#search-list').html();
      var template = Handlebars.compile(tpl);

      var content = {
        searchList: []
      };
      $.each(data, function(index, item) {
        var obj = {
          id: item._id,
          title: item.title,
          author: item.author,
          content: item.content.substring(0, 20) + '...'
        };
        content.searchList.push(obj);
      });
      var html = template(content);
      $ul.html(html);
    });